body {
    margin: 0;
    font-family: serif;
    font-family: "Montserrat", sans-serif;
    background: url('../img/women.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.nav {
    display: flex;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 15px 7px #090505;
    color: bisque;
    width: 100%;
    height: 50px;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 750;
    margin: 0px 12px;
}

.navitems {
    display: flex;
    position: absolute;
    right: 0;
    /* font-family: font; */
    font-size: 12px;
    margin: 0px 32px;
}

.container {
    border: 2px solid white;
    margin: 180px 10vw;
    /* margin: 180px 160px; */
    padding: 50px;
    width: 300px;
    /* width: 18vw; */
    border-radius: 28px;
    backdrop-filter: blur(10px);
    opacity: 0.9;
}

@media screen and (max-width: 500px) {
    .container {
        margin: 180px 5vw;
        padding: 20px;
    }

    .navitems {
        display: none;
    }
}

.details input {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: block;
    width: 190px;
    padding: 7px;
    border: 2px solid black;
    margin: 11px auto;
    /* background-color: rgb(236, 224, 210); */
    font-size: 15px;
    border-radius: 8px;
}

.container h1 {
    font-family: "Montserrat", sans-serif;
    margin-top: 0px;
    color: rgb(236, 224, 210);
    text-align: center;
}

.container button {
    border-radius: 6px;
    /* background-color: rgb(236, 224, 210); */
    display: block;
    width: 33%;
    padding: 5px 0px;
    margin: 15px auto;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.btn:hover {
    color: rgb(34, 31, 31);
    opacity: 0.8;
}